﻿
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Citas en la Agenda</h2>    
    
    <button type="button" class="btn btn-primary" 
            data-toggle="modal" 
            data-target="#modalAgenda" 
            onclick="clearTextBox();">Agregar Cita</button>
    <br /><br />
    
    
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>No.</th>
            <th>Lugar</th>
            <th>Evento</th>
            <th>Fecha</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody class="tbody">
        
        </tbody>
    </table>
    
    
</div>


<div class="modal fade"
     id="modalAgenda" 
     tabindex="-1" 
     role="dialog"
     aria-labelledby="tituloModalAgenda"
     aria-hidden="true">
    
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="tituloModalAgenda">Detalle Cita</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="IdCita">No.</label>
                        <input type="text" class="form-control" id="IdCita" placeholder="Id" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="Evento">Evento</label>
                        <input type="text" class="form-control" id="Evento" placeholder="Evento" />
                    </div>
                    <div class="form-group">
                        <label for="Lugar">Lugar</label>
                        <input type="text" class="form-control" id="Lugar" placeholder="Lugar" />
                    </div>
                    <div class="form-group">
                        <label for="Fecha">Fecha</label>
                        <input type="text" class="form-control datefield" id="Fecha" placeholder="Fecha" />
                    </div>                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" 
                        class="btn btn-primary" 
                        id="btnAdd" 
                        onclick="return agregar();">Agregar</button>
                <button type="button" 
                        class="btn btn-primary" 
                        id="btnUpdate" 
                        style="display:none;" 
                        onclick="actualizar();">Actualizar</button>
                <button type="button" 
                        class="btn btn-default" 
                        data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>     
</div>


@section scripts
{
    @Scripts.Render("~/Scripts/Aplicacion/Agenda.js")
}

